*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body{
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
  overflow-y: scroll;
}
body{
  font-family: 'Roboto',sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 2.5em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.2em;
}
h5{
  font-size: 1em;
}

.alert-danger{
  font-size: 1em;
  color: red;
}